
<div id="myModal" class="modal">
    <div class="modal-content">
        <button id="closeFormBtn"><i class="fa fa-close"></i></button>
        <form action="/admin/add" name="addProduct" method="POST" role="form" onsubmit="validateForm();">
            <label for="namePro">Tên sản phẩm</label><br>
            <input type="text" id="_name" name="namePro" value="{{proName}}"><br><br>

            <label for="idPro">Mã sản phẩm</label><br>
            <input type="text" id="_id" name="idPro" value="{{proID}}"><br><br>

            <label for="nxs">Thương hiệu/Nhà sản xuất</label><br>
            <input type="text" id="_brandID" name="nxs" value="{{proBrandID}}"><br><br>

            <label for="typePro">Loại sản phẩm</label><br>
            <select name="catPro" id="_cat" value="{{proCatID}}">
                <option value="physic">Máy ảnh cơ</option>
                <option value="digital">Máy ảnh kỹ thuật số</option>
                <option value="instant">Máy ảnh chụp lấy liền</option>
            </select><br><br>

            <label for="price">Giá tiền (giá bán lẻ)</label><br>
            <input type="text" class="isNumber" id="_price" name="price" value="{{proPrice}}"><br><br>
            
            

            <label for="numberPro">Số lượng</label><br>
            <input type="text" class="isNumber" id="_stock" name="numberPro" value="{{proStock}}"><br><br>

            <label for="addImage">Thêm hình ảnh</label>
            <input type="file" id="productImage" name="proImg" value="{{proImg}}"><br><br>


            <input type="submit" name="addNewBtn" value="Add new products" id="addBtn">
        </form>
    </div>
</div>