{{#section 'title'}}
Trang chủ
{{/section}}

{{#section 'css'}}
     <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styleAdmin/styleAdmin.css" />
{{/section}}


{{#section 'footer'}}
    <script src="/assets/js/javaScript_AdminPage.js"></script>
{{/section}}


{{#section 'controlBar'}}{{> adminShowProductControllBar}}{{/section}}
{{#section 'searchBar'}}{{> adminHeader}}{{/section}}

    <div class="dashboard">
        <div class="row">
            <div class="col-sm-3" style="background-color: #000033">
              {{{_sections.controlBar}}}
            </div>
           
            <div class="col-sm-9">
               {{{_sections.searchBar}}}

                <!-- **************************  SHOW LIST OF ORDERS IN STATUS ********************** -->
                <div class="listStatusOrder isDisplayed">
                    <div class="status">
                        <div class="backgroundTitle" style="background-color:#b3b3ff;">
                            <h1>CHƯA GIAO HÀNG</h1>
                        </div>
                        <div class="triangle-right" style="border-left: 50px solid #b3b3ff;"></div>
                        <table>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Ngày mua</th>
                                <th>Tổng sản phẩm</th>
                                <th>Tổng tiền</th>
                                <th>User mua hàng</th>
                                <th>Phí vận chuyển</th>
                            </tr>
                            {{#each inStock}}
                                <td>{{orderID}}</td>
                                <td>{{orderDate}}</td>
                                <td>{{totalProduct}}</td>
                                <td>{{totalPrice}}</td>
                                <td>{{username}}</td>
                                <td>{{deliveryPrice}}</td>
                            {{/each}}
                        </table>
                    </div>

                    <div class="status">
                        <div class="backgroundTitle" style="background-color:#ff33ff;">
                            <h1>ĐANG GIAO HÀNG</h1>
                        </div>
                        <div class="triangle-right" style="border-left: 50px solid #ff33ff;"></div>
                        <table>
                           <tr>
                                <th>Mã đơn hàng</th>
                                <th>Ngày mua</th>
                                <th>Tổng sản phẩm</th>
                                <th>Tổng tiền</th>
                                <th>User mua hàng</th>
                                <th>Phí vận chuyển</th>
                            </tr>
                            {{#each delivering}}
                                <td>{{orderID}}</td>
                                <td>{{orderDate}}</td>
                                <td>{{totalProduct}}</td>
                                <td>{{totalPrice}}</td>
                                <td>{{username}}</td>
                                <td>{{deliveryPrice}}</td>
                            {{/each}}
                        </table>
                    </div>

                    <div class="status">
                        <div class="backgroundTitle" style="background-color: #ffff4d;">
                            <h1>GIAO HÀNG THÀNH CÔNG</h1>
                        </div>
                        <div class="triangle-right" style="border-left: 50px solid  #ffff4d;"></div>
                        <table>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Ngày mua</th>
                                <th>Tổng sản phẩm</th>
                                <th>Tổng tiền</th>
                                <th>User mua hàng</th>
                                <th>Phí vận chuyển</th>
                            </tr>
                            {{#each delivered}}
                                <td>{{orderID}}</td>
                                <td>{{orderDate}}</td>
                                <td>{{totalProduct}}</td>
                                <td>{{totalPrice}}</td>
                                <td>{{username}}</td>
                                <td>{{deliveryPrice}}</td>
                            {{/each}}
                        </table>
                    </div>
                </div>

                <!-- **************************  ADD NEW PRODUCTS  ********************** -->
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <button id="closeFormBtn"><i class="fa fa-close"></i></button>
                        <form action="#">
                            <label for="namePro">Tên sản phẩm</label><br>
                            <input type="text" name="namePro"><br><br>
            
                            <label for="idPro">Mã sản phẩm</label><br>
                            <input type="text" name="idPro"><br><br>
            
                            <label for="nxs">Thương hiệu/Nhà sản xuất</label><br>
                            <input type="text" name="nxs"><br><br>
            
                            <label for="typePro">Loại sản phẩm</label><br>
                            <input type="text" name="typePro"><br><br>
            
                            <label for="price">Giá tiền (giá bán lẻ)</label><br>
                            <input type="text" name="price"><br><br>
                            
            
                            <label for="numberPro">Số lượng</label><br>
                            <input type="combobox" name="numberPro"><br><br>
            
                            <label for="addImage">Thêm hình ảnh</label>
                            <input type="file" id="productImage"><br><br>
            
                            <input type="submit" name="addNewBtn" value="Add new products" id="addBtn">
                        </form>
                    </div>
                </div>


                <!-- **************************  SHOW CHARTS  ********************** -->
                <div class="charts isDisplayed">
                    <div class="row">
                        <div class="col-sm-6 brandChart">
                            <canvas id="brandCanvas" width="480" height="290" style="border:4px double darkblue; background-color:#e6e6e6;"></canvas>
                            <h3>Thống kê số lượng sản phẩm theo nhãn hiệu</h3>
                        </div>
                        <div class="col-sm-6 typeChart">
                            <canvas id="typeCanvas" width="480" height="290" style="border:4px double darkblue; background-color:#e6e6e6;"></canvas>
                            <h3>Thống kê số lượng sản phẩm theo loại</h3>
                        </div>
                    </div>
                    <div class="orderChart">
                        <canvas id="orderCanvas" width="970" height="350" style="border:4px double darkblue; background-color:#e6e6e6;"></canvas>
                        <h3>Thống kê số lượng đơn hàng theo trạng thái</h3>
                    </div>
                    

                    <script>
                        var ele = document.getElementById("brandCanvas");
                        var col = ele.getContext("2d");
                        var x = 40, h = 240, distance = 40, y = 240 - h; //x, y are coordinates and h is height of collumn
                        var w = 70 //width of a collumn
                        var colorBrand = ["#00ff00", "#b30000", "#cc00cc", "#008ae6"];
                        var heightBrand = [57.6, 36, 103.2, 43.2];
                        var percentBrand = ["24%", "15%", "43%", "18%"];
                        var nameBrand = ["Canon", "Nikon", "Fujifilm", "Sony"];

                        for (var i = 0; i < 4; i++) {
                            h = heightBrand[i];
                            y = 240 - h;
                            //Display collumn statistic
                            col.beginPath();
                            col.rect(x, y, w, h);
                            col.stroke();
                            col.fillStyle = colorBrand[i];
                            col.fill();

                            //Display name of its brand
                            col.font = "20px Helvetica";
                            col.fillStyle = "black";
                            col.fillText(nameBrand[i], x, 270);

                            col.beginPath();
                            col.font = "25px Helvetica";
                            col.fillText(percentBrand[i], x + 10, y - 10);  
                            
                            x += w + distance;
                        }
                        col.beginPath();
                        col.moveTo(20, 240);
                        col.lineTo(460, 240);
                        col.stroke();

                        col.beginPath();
                        col.moveTo(20, 20);
                        col.lineTo(20, 240);
                        col.stroke();


                        //*******************  STATISTIC OF NUMBER OF PRODUCTS IN TYPES ********************
                        ele = document.getElementById("typeCanvas");
                        col = ele.getContext("2d");
                        x = 70, h = 240, distance = 70, y = 240 - h; //x, y are coordinates and h is height of collumn
                        w = 70 //width of a collumn
                        var colorType = ["#ff6600", "#0099ff", "#00b300"];
                        var heightType = [57.6, 115.2, 67.2];
                        var percentType = ["24%", "48%", "28%"];
                        var nameType = ["Máy cơ", "Kỹ thuật số", "Máy lấy liền"];

                        for (var i = 0; i < 3; i++) {
                            h = heightType[i];
                            y = 240 - h;
                            col.beginPath();
                            col.rect(x, y, w, h);
                            col.stroke();
                            col.fillStyle = colorType[i];
                            col.fill();

                        //Display name of its type
                        col.font = "20px Helvetica";
                            col.fillStyle = "black";
                            col.fillText(nameType[i], x, 270);

                            col.beginPath();
                            col.font = "25px Helvetica";
                            col.fillText(percentType[i], x + 10, y - 10);  
                            x += w + distance;
                        }      
                        col.beginPath();
                        col.moveTo(20, 240);
                        col.lineTo(450, 240);
                        col.stroke();

                        col.beginPath();
                        col.moveTo(20, 20);
                        col.lineTo(20, 240);
                        col.stroke();


                        //*******************  STATISTIC OF NUMBER OF PRODUCTS IN TYPES ********************
                        ele = document.getElementById("orderCanvas");
                        col = ele.getContext("2d");
                        x = 80, h = 240, distance = 100, y = 290 - h; //x, y are coordinates and h is height of collumn
                        w = 200 //width of a collumn
                        var colorOrder = ["#ff6600", "#0099ff", "#00b300"];
                        var heightOder = [48, 94.8, 157.2];
                        var percentOrder = ["16%", "31.6%", "52.4%"];
                        var nameOrder = ["Chưa giao hàng", "Đang giao hàng", "Giao hàng thành công"];

                        for (var i = 0; i < 3; i++) {
                            h = heightOder[i];
                            y = 290 - h;
                            col.beginPath();
                            col.rect(x, y, w, h);
                            col.stroke();
                            col.fillStyle = colorOrder[i];
                            col.fill();

                        //Display name of its type
                        col.font = "20px Helvetica";
                            col.fillStyle = "black";
                            col.fillText(nameOrder[i], x + 20, 320);

                            col.beginPath();
                            col.font = "25px Helvetica";
                            col.fillText(percentOrder[i], x + 70, y - 10);  
                            x += w + distance;
                        }      
                        col.beginPath();
                        col.moveTo(20, 290);
                        col.lineTo(930, 290);
                        col.stroke();

                        col.beginPath();
                        col.moveTo(20, 20);
                        col.lineTo(20, 290);
                        col.stroke(); 

                    </script>
                </div>

                
                <!-- **************************  SHOW ACCOUNT  ********************** -->
                <div class="showAccount isDisplayed">
                    <h1>Your profile!</h1>
                    <form action="">
                        <label for="fullName">Họ tên</label><br>
                        <input type="text" value="Monkey D.Luffy" name="fullName"><br><br>
            
                        <label for="email">Email</label><br>
                        <input type="text" name="email" value="luffy@gmail.com"><br><br>
            
                        <label for="numberPhone">Số điện thoại</label><br>
                        <input type="text" name="numberPhone" value="0123456789"><br><br>
            
                        <label for="gender">Giới tính</label><br>
                        <select name="gender">
                            <option value="nam">Nam</option>
                            <option value="nu">Nữ</option>
                        </select><br><br>
            
                        <label for="uname">Username</label><br>
                        <input type="text" name="uname" value="the_pirate_king"><br><br>
            
                        <label for="pass">Password</label><br>
                        <input type="submit" name="pass" value="Change password"><br><br>
                    </form>
                </div>
    

                </div>
            </div>
        </div>
    </div>

