{{#section 'title'}}
Trang chủ
{{/section}}

{{#section 'css'}}
    
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styleAdmin/styleAdmin.css" />
{{/section}}

{{#section 'js'}}
    <script>
    function displayContent(nameClass) {
        var items = document.getElementsByClassName("isDisplayed");
        for (var i = 0; i < items.length; i++) {
            if (items[i].className == nameClass + " isDisplayed") {
                items[i].style.display = "block";
            } else {
                items[i].style.display = "none";
            }
        }
}
    </script>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{/section}}

{{#section 'footer'}}
    <script src="/assets/js/javaScript_AdminPage.js"></script>
{{/section}}

{{#section 'showProductByBrand'}}
    <li><a href="#" onclick="displayContent('canon')">Canon</a></li>
    <li><a href="#" onclick="displayContent('fujifilmProducts')">Fujifilm</a></li>
    <li><a href="#" onclick="displayContent('nikonProducts')">Nikon</a></li>
    <li><a href="#" onclick="displayContent('sonyProducts')">Sony</a></li>
{{/section}}

{{#section 'nameBrand'}}
    {{#if 'canon'}}
    <script>
        document.write('<h1>CANON</h1>');
    </script>    
    {{/if}}
    {{#if 'fujifilm'}}
        <h1>FUJIFILM</h1>
    {{/if}}
    
{{/section}}


{{#section 'controlBar'}}{{> adminControllBar}}{{/section}}
{{#section 'searchBar'}}{{> adminHeader}}{{/section}}

    <div class="dashboard">
        <div class="row">
            <div class="col-sm-3" style="background-color: #000033">
              {{{_sections.controlBar}}}
            </div>
           
            <div class="col-sm-9">
               {{{_sections.searchBar}}}


                <!-- *******************   SHOW LIST OF PRODUCTS IN BRANDS   ********************* -->                    
                 <div class='{{brandID}}' + " isDisplayed">
                    <div class="backgroundTitle" style="background-color:pink;">
                        <h1>BRAND</h1>
                    </div>
                    <div class="triangle-right" style="border-left: 50px solid pink;"></div>
                    <div class="editDeletePro">
                        <button type="submit" name="edit" id="edit" onclick="window.location.href='/admin'">Chỉnh sửa</button>
                        <button type="submit" name="delete" id="delete">Xóa</button>
                    </div>         
                    <div class="container-quanLySanPham">
                         <table>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Mã sản phẩm</th>
                                <th>Loại máy ảnh</th>
                                <th>Giá bán (VNĐ)</th>
                                <th>Số lượng</th>
                                <th>Lượt xem</th>
                                <th>Ngày nhập hàng</th>
                                <th>Hình ảnh</th>
                                <th></th>
                                <th></th>
                            </tr>
                            {{#each products}}
                            <tr>
                                <td>{{productName}}</td>
                                <td>{{productID}}</td>
                                <td>{{productCatID}}</td>
                                <td>{{productPrice}}</td>
                                <td>{{productStock}}</td>
                                <td>{{productViews}}</td>
                                <td>{{productDate}}</td>
                                <td><img src="/assets/images/Products/{{productImg}}" class="imgInTable"></td>
                                <!--<td><form action="" method="GET" role="form">
                                        <input type="hidden" id="" name="CatId" value="{{productId}}">	
                                        <button type="submit" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </form>
                                </td>
                                <td><button type="submit" class="btn btn-warning">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>
                                <td><input type="checkbox" class="checkProduct"></td>-->
                                <td><form action="" method="GET" role="form">	
                                        <button type="submit" class="btnRemove" >
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </form>
                                </td>
                            
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

