{{#section 'title'}}
Trang chủ
{{/section}}

{{#section 'css'}}
     <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styleAdmin/styleAdmin.css" />
{{/section}}


{{#section 'footer'}}
    <script src="/assets/js/javaScript_AdminPage.js"></script>
{{/section}}

{{#section 'js'}}
    <script>
         getChartOfBrand(["Canon", "Nikon", "Fujifilm", "Sony"], [24, 15, 43, 18]);
         getChartOfType(["Máy cơ", "Kỹ thuật số", "Máy lấy liền"], [24, 48, 28]);
         getChartOfOrders(["Delivered", "Delivering", "In Stock"], [16, 31.6, 52.4]);
    </script>
{{/section}}

{{#section 'controlBar'}}{{> adminShowProductControllBar}}{{/section}}
{{#section 'searchBar'}}{{> adminHeader}}{{/section}}
{{#section 'showCharts'}}{{> adminShowCharts}}{{/section}}
{{#section 'addProduct'}}{{> addNewProduct}}{{/section}}
{{#section 'editProduct'}}{{> editForm}}{{/section}}

    <div class="dashboard">
        <div class="row">
            <div class="col-sm-3" style="background-color: #000033">
              {{{_sections.controlBar}}}
            </div>
           
            <div class="col-sm-9">
               {{{_sections.searchBar}}}

                <!-- **************************  SHOW LIST OF ORDERS IN STATUS ********************** -->
                <div class="listStatusOrder isDisplayed">
                    <div class="status">
                        <div class="backgroundTitle" style="background-color:#b3b3ff;">
                            <h1>CHƯA GIAO HÀNG</h1>
                        </div>
                        <div class="triangle-right" style="border-left: 50px solid #b3b3ff;"></div>
                        <table>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Ngày mua</th>
                                <th>Tổng sản phẩm</th>
                                <th>Tổng tiền</th>
                                <th>User mua hàng</th>
                                <th>Phí vận chuyển</th>
                                <th></th>
                                <th></th>
                            </tr>
                            {{#each inStock}}
                            <tr>
                                <td>{{orderID}}</td>
                                <td>{{orderDate}}</td>
                                <td>{{totalProduct}}</td>
                                <td>{{totalPrice}}</td>
                                <td>{{username}}</td>
                                <td>{{deliveryPrice}}</td>
                                <td><form action="/admin/delete" method="POST" role="form">	
                                    <input type="hidden" id="" name="productID" value="{{productID}}">
                                    <button type="submit" class="btn btnRemove" >
                                        <i class="fa fa-close"></i>
                                    </button>
                                    </form>
                                </td>
                                <td>
                                    <button class="btn btnEdit" onclick="editSingle()">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>    
                            </tr>           
                            {{/each}}
                        </table>
                    </div>

                    <div class="status">
                        <div class="backgroundTitle" style="background-color:#ff33ff;">
                            <h1>ĐANG GIAO HÀNG</h1>
                        </div>
                        <div class="triangle-right" style="border-left: 50px solid #ff33ff;"></div>
                        <table>
                           <tr>
                                <th>Mã đơn hàng</th>
                                <th>Ngày mua</th>
                                <th>Tổng sản phẩm</th>
                                <th>Tổng tiền</th>
                                <th>User mua hàng</th>
                                <th>Phí vận chuyển</th>
                                <th></th>
                                <th></th>
                            </tr>
                            {{#each delivering}}
                            <tr>
                                <td>{{orderID}}</td>
                                <td>{{orderDate}}</td>
                                <td>{{totalProduct}}</td>
                                <td>{{totalPrice}}</td>
                                <td>{{username}}</td>
                                <td>{{deliveryPrice}}</td>
                                <td><form action="/admin/delete" method="POST" role="form">	
                                    <input type="hidden" id="" name="productID" value="{{productID}}">
                                    <button type="submit" class="btn btnRemove" >
                                        <i class="fa fa-close"></i>
                                    </button>
                                    </form>
                                </td>
                                <td>
                                    <button class="btn btnEdit" onclick="editSingle()">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>  
                            </tr>
                            {{/each}}
                        </table>
                    </div>

                    <div class="status">
                        <div class="backgroundTitle" style="background-color: #ffff4d;">
                            <h1>GIAO HÀNG THÀNH CÔNG</h1>
                        </div>
                        <div class="triangle-right" style="border-left: 50px solid  #ffff4d;"></div>
                        <table>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Ngày mua</th>
                                <th>Tổng sản phẩm</th>
                                <th>Tổng tiền</th>
                                <th>User mua hàng</th>
                                <th>Phí vận chuyển</th>
                                <th></th>
                                <th></th>
                            </tr>
                            {{#each delivered}}
                            <tr>
                                <td>{{orderID}}</td>
                                <td>{{orderDate}}</td>
                                <td>{{totalProduct}}</td>
                                <td>{{totalPrice}}</td>
                                <td>{{username}}</td>
                                <td>{{deliveryPrice}}</td>
                                <td><form action="/admin/delete" method="POST" role="form">	
                                    <input type="hidden" id="" name="productID" value="{{productID}}">
                                    <button type="submit" class="btn btnRemove" >
                                        <i class="fa fa-close"></i>
                                    </button>
                                    </form>
                                </td>
                                <td>
                                    <button class="btn btnEdit" onclick="editSingle()">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>  
                            </tr>      
                            {{/each}}
                        </table>
                    </div>
                </div>

                <!-- **************************  ADD NEW PRODUCTS  ********************** -->
                {{{_sections.addProduct}}}
                <!-- **************************  ADD NEW PRODUCTS  ********************** -->
                {{{_sections.addProduct}}}

                <!-- **************************  SHOW CHARTS  *********************** -->
                {{{_sections.showCharts}}}

            </div>
        </div>
    </div>

