{{#section 'title'}}
Show products by brands
{{/section}}

{{#section 'css'}}
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styleAdmin/styleAdmin.css" />
{{/section}}

{{#section 'js'}}
    <script>
         getChartOfBrand(["Canon", "Nikon", "Fujifilm", "Sony"], [24, 15, 43, 18]);
         getChartOfType(["Máy cơ", "Kỹ thuật số", "Máy lấy liền"], [24, 48, 28]);
         getChartOfOrders(["Delivered", "Delivering", "In Stock"], [16, 31.6, 52.4]);
    </script>

{{/section}}

{{#section 'footer'}}
    <script src="/assets/js/javaScript_AdminPage.js"></script>
{{/section}}

{{#section 'showProductByBrand'}}
    <li><a href="#" onclick="displayContent('canon')">Canon</a></li>
    <li><a href="#" onclick="displayContent('fujifilmProducts')">Fujifilm</a></li>
    <li><a href="#" onclick="displayContent('nikonProducts')">Nikon</a></li>
    <li><a href="#" onclick="displayContent('sonyProducts')">Sony</a></li>
{{/section}}

{{#section 'nameBrand'}}
    {{#if 'canon'}}
    <script>
        document.getElementById('brand').innerHTML = `'${brandID}'`
    </script>    
    {{/if}}
    {{#if 'fujifilm'}}
        <h1>FUJIFILM</h1>
    {{/if}}
    
{{/section}}


{{#section 'controlBar'}}{{> adminControllBar}}{{/section}}
{{#section 'searchBar'}}{{> adminHeader}}{{/section}}
{{#section 'formEdit'}}{{> editForm}}{{/section}}
{{#section 'showCharts'}}{{> adminShowCharts}}{{/section}}
{{#section 'addProduct'}}{{> addNewProduct}}{{/section}}
{{#section 'editProduct'}}{{> editForm}}{{/section}}

    <div class="dashboard">
        <div class="row">
            <div class="col-sm-3" style="background-color: #000033">
              {{{_sections.controlBar}}}
            </div>
           
            <div class="col-sm-9">
               {{{_sections.searchBar}}}


                <!-- *******************   SHOW LIST OF PRODUCTS IN BRANDS   ********************* -->                    
                 <div class='{{brandID}}' + " isDisplayed">
                    <div class="backgroundTitle" style="background-color:pink;">
                        <h1>{{brandID}}</h1>
                    </div>
                    <div class="triangle-right" style="border-left: 50px solid pink;"></div>
                    <!--<div class="editDeletePro">
                        <button type="submit" name="edit" id="edit" onclick="window.location.href='/admin'">Chỉnh sửa</button>
                        <button type="submit" name="delete" id="delete">Xóa</button>
                    </div>     -->    
                    <div class="container-quanLySanPham">
                         <table>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Mã sản phẩm</th>
                                <th>Loại máy ảnh</th>
                                <th>Giá bán (VNĐ)</th>
                                <th>Số lượng</th>
                                <th>Lượt xem</th>
                                <th>Đã bán</th>
                                <th>% khuyến mãi</th>
                                <th>Xuất xứ</th>
                                <th>Ngày nhập hàng</th>
                                <th>Hình ảnh</th>
                                <th></th>
                                <th></th>
                            </tr>
                            {{#each products}}
                            <tr>
                                <td>{{productName}}</td>
                                <td>{{productID}}</td>
                                <td>{{productCatID}}</td>
                                <td>{{productPrice}}</td>
                                <td>{{productStock}}</td>
                                <td>{{productViews}}</td>
                                <td>{{productSold}}</td>
                                <td>{{productSale}}</td>
                                <td>{{productOrigin}}</td>
                                <td>{{productDate}}</td>
                                <td><img src="/assets/images/Products/{{productImg}}" class="imgInTable"></td>
                                <td><form action="/admin/delete" method="POST" role="form">	
                                    <input type="hidden" id="" name="productID" value="{{productID}}">
                                    <button type="submit" class="btn btnRemove" >
                                        <i class="fa fa-close"></i>
                                    </button>
                                    </form>
                                </td>
                                <td>
                                    <button class="btn btnEdit" onclick="editSingle()">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>      
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>

                <!-- ********************** EDIT PRODUCT *************************-->
                {{{_sections.formEdit}}}

                  <!-- **************************  ADD NEW PRODUCTS  ********************** -->
                {{{_sections.addProduct}}}

             
                
            </div>
        </div>
    </div>

