{{#section 'title'}}
Trang chủ
{{/section}}

{{#section 'css'}}
     <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styleAdmin/styleAdmin.css" />
{{/section}}

{{#section 'js'}}
    <script>
    function displayContent(nameClass) {
        var items = document.getElementsByClassName("isDisplayed");
        for (var i = 0; i < items.length; i++) {
            if (items[i].className == nameClass + " isDisplayed") {
                items[i].style.display = "block";
            } else {
                items[i].style.display = "none";
            }
        }
}
    </script>
{{/section}}

{{#section 'footer'}}
    <script src="/assets/js/javaScript_AdminPage.js"></script>
{{/section}}


{{#section 'controlBar'}}{{> adminControllBar}}{{/section}}
{{#section 'searchBar'}}{{> adminHeader}}{{/section}}
{{#section 'formEdit'}}{{> editForm}}{{/section}}
{{#section 'showCharts'}}{{> adminShowCharts}}{{/section}}
{{#section 'addProduct'}}{{> addNewProductByCat}}{{/section}}

    <div class="dashboard">
        <div class="row">
            <div class="col-sm-3" style="background-color: #000033">
              {{{_sections.controlBar}}}
            </div>
           
            <div class="col-sm-9">
               {{{_sections.searchBar}}}

                <!-- **************************  SHOW LIST OF PRODUCTS IN CATEGORIES ******************* -->
                <div class='{{catID}}' + " isDisplayed">
                    <div class="backgroundTitle" style="background-color:#ffe6ff;">
                            <h1>{{catID}}</h1>
                    </div>
                    <div class="triangle-right" style="border-left: 50px solid #ffe6ff;"></div>
                     <div class="editDeletePro">
                        <button type="submit" name="Add new product" id="edit" onclick="addProductByCat()">Thêm sản phẩm mới</button>
                    </div>   
                    <div class="container-quanLySanPham">
                        <table>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Mã sản phẩm</th>
                                <th>Nhà sản xuất</th>
                                <th>Giá bán (VNĐ)</th>
                                <th>Số lượng</th>
                                <th>Lượt xem</th>
                                <th>Đã bán</th>
                                <th>% khuyến mãi</th>
                                <th>Xuất xứ</th>
                                <th>Ngày nhập hàng</th>
                                <th>Hình ảnh</th>
                                <th></th>
                                <th></th>
                            </tr>
                            {{#each products}}
                            <tr>
                                <td>{{productName}}</td>
                                <td>{{productID}}</td>
                                <td>{{productBrandID}}</td>
                                <td>{{productPrice}}</td>
                                <td>{{productStock}}</td>
                                <td>{{productViews}}</td>
                                <td>{{productSold}}</td>
                                <td>{{productSale}}</td>
                                <td>{{productOrigin}}</td>
                                <td>{{productDate}}</td>
                                <td><img src="/assets/images/Products/{{productImg}}" class="imgInTable"></td>
                                <td><form action="/admin/delete" method="POST" role="form">	
                                    <input type="hidden" id="" name="productID" value="{{productID}}">
                                    <button type="submit" class="btn btnRemove" >
                                        <i class="fa fa-close"></i>
                                    </button>
                                    </form>
                                </td>
                                <td>
                                    <button class="btn btnEdit" onclick="editSingle()">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>      
                            </tr>
                            {{/each}}
                         </table>  
                    </div>
                </div>
                <!-- ********************** EDIT PRODUCT *************************-->
                {{{_sections.formEdit}}}

                <!-- **************************  ADD NEW PRODUCTS  ********************** -->
                {{{_sections.addProduct}}}
                
            </div>
        </div>
    </div>
                