{{#section 'title'}}
Trang chủ
{{/section}}

{{#section 'css'}}
     <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styleAdmin/styleAdmin.css" />
{{/section}}

{{#section 'js'}}
    <script>
    function displayContent(nameClass) {
        var items = document.getElementsByClassName("isDisplayed");
        for (var i = 0; i < items.length; i++) {
            if (items[i].className == nameClass + " isDisplayed") {
                items[i].style.display = "block";
            } else {
                items[i].style.display = "none";
            }
        }
}
    </script>
{{/section}}

{{#section 'footer'}}
    <script src="/assets/js/javaScript_AdminPage.js"></script>
{{/section}}


{{#section 'controlBar'}}{{> adminShowProductControllBar}}{{/section}}
{{#section 'searchBar'}}{{> adminHeader}}{{/section}}

    <div class="dashboard">
        <div class="row">
            <div class="col-sm-3" style="background-color: #000033">
              {{{_sections.controlBar}}}
            </div>
           
            <div class="col-sm-9">
               {{{_sections.searchBar}}}

                <!-- **************************  SHOW LIST OF PRODUCTS IN CATEGORIES ******************* -->
                <div class='{{catID}}' + " isDisplayed">
                    <div class="backgroundTitle" style="background-color:#ffe6ff;">
                            <h1>MÁY ẢNH KỸ THUẬT SỐ</h1>
                        </div>
                        <div class="triangle-right" style="border-left: 50px solid #ffe6ff;"></div>
                    <div class="editDeletePro">
                        <button type="submit" name="edit" id="edit" onclick="window.location.href='/admin'">Chỉnh sửa</button>
                        <button type="submit" name="delete" id="delete">Xóa</button>
                    </div>
                    <div class="container-quanLySanPham">
                        <table>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Mã sản phẩm</th>
                                <th>Thương hiệu/Nhà sản xuất</th>
                                <th>Giá bán (VNĐ)</th>
                                <th>Số lượng</th>
                                <th>Lượt xem</th>
                                <th>Ngày nhập hàng</th>
                                <th>Hình ảnh</th>
                                <th></th>
                            </tr>
                            {{#each products}}
                            <tr>
                               <td>{{productName}}</td>
                                <td>{{productID}}</td>
                                <td>{{productBrandID}}</td>
                                <td>{{productPrice}}</td>
                                <td>{{productStock}}</td>
                                <td>{{productViews}}</td>
                                <td>{{productDate}}</td>
                                <td><img src="/assets/images/Products/{{productImg}}" class="imgInTable"></td>
                                <td><input type="checkbox" class="checkProduct"></td>
                            </tr>
                            {{/each}}
                         </table>  
                    </div>
                </div>