{{#section 'title'}}
Show all products
{{/section}}

{{#section 'css'}}
     <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styleAdmin/styleAdmin.css" />
{{/section}}


{{#section 'footer'}}
    <script src="/assets/js/javaScript_AdminPage.js"></script>
{{/section}}

{{#section 'js'}}
    <script>
        
        function editThui() {
            var modal = document.getElementById('editModal');
            var icon = document.getElementsByClassName("editClose")[0];
            var editBtn = document.getElementById('editBtn');
            modal.style.display = "block";
            icon.onclick = function() {
                modal.style.display = "none";
            }
            editBtn.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
    </script>

{{/section}}


{{#section 'controlBar'}}{{> adminShowProductControllBar}}{{/section}}
{{#section 'searchBar'}}{{> adminHeader}}{{/section}}
{{#section 'showCharts'}}{{> adminShowCharts}}{{/section}}
{{#section 'addProduct'}}{{> addNewProduct}}{{/section}}
{{#section 'editProduct'}}{{> editForm}}{{/section}}

    <div class="dashboard">
        <div class="row">
            <div class="col-sm-3" style="background-color: #000033">
              {{{_sections.controlBar}}}
            </div>
           
            <div class="col-sm-9">
               {{{_sections.searchBar}}}


                <!-- **************************  SHOW LIST OF ALL PRODUCTS ********************** -->
                <div class="showAllProducts isDisplayed">
                    <div class="backgroundTitle" style="background-color:#ffb366;">
                        <h1>XEM TẤT CẢ SẢN PHẨM</h1>
                    </div>
                    <div class="triangle-right" style="border-left: 50px solid #ffb366;"></div>
                    <div class="container-quanLySanPham">
                        <table>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Mã sản phẩm</th>
                                <th>Loại sản phẩm</th>
                                <th>Thương hiệu/nhà sản xuất</th>
                                <th>Giá bán (VNĐ)</th>
                                <th>Lượt xem</th>
                                <th>Số lượng đã bán</th>
                                <th>Số còn trong kho</th>
                                <th>Số sản phẩm khuyến mãi</th>
                                <th>Ngày nhập sản phẩm</th>
                                <th>Hình ảnh</th>
                                <th></th>
                                <th></th>
                            </tr>
                            {{#each products}}
                            <tr>
                                <td>{{productName}}</td>
                                <td>{{productID}} </td>
                                <td>{{productCatID}} </td>
                                <td>{{productBrandID}}</td>
                                <td>{{productPrice}}</td>
                                <td>{{productViews}}</td>
                                <td>{{productSold}}</td>
                                <td>{{productStock}}</td>
                                <td>{{productSale}}</td>
                                <td>{{productDate}}</td>
                                <td><img src="/assets/images/products/{{productImg}}" class="imgInTable"></td>
                                 <td><form action="/admin/delete" method="POST" role="form">	
                                        <input type="hidden" id="" name="productID" value="{{productID}}">
                                        <button type="submit" class="btn btnRemove" >
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <button class="btn btnEdit" onclick="editThui()">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>     
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
                <!-- ********************** EDIT PRODUCT *************************-->
                {{{_sections.formEdit}}}

                <!-- **************************  ADD NEW PRODUCTS  ********************** -->
                {{{_sections.addProduct}}}

                <!-- **************************  SHOW CHARTS  *********************** -->
                {{{_sections.showCharts}}}
                

                </div>
            </div>
        </div>

