<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pirates - Chuyên cung cấp máy ảnh số chất lượng nhất</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
  
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/bootstrap-grid.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/jquery.fullpage.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/layout.css" />
  {{{_sections.css}}}
</head>
<body class='{{_sections.class}}'>
  {{{_sections.header}}}
  <div class="main-content">
    {{{body}}}
  </div>
  {{{_sections.footer}}}
  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/assets/js/layout.js"></script>
  {{{_sections.js}}}

</body>
</html>