{{#section 'title'}}
User information
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/styleUserPages.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/home.css" />
{{/section}}

{{#section 'js'}}
<script>
  $('#user-info-button').click(function(){
    $('form.userAccount input').attr('readonly',false);
    $('form.userAccount input[type=radio]').attr('disabled',false);
    $('#user-update-button').css("visibility","visible");
    $(this).css("visibility","hidden");
  });

</script>
{{/section}}


{{#section 'header'}}{{> header}}{{/section}}
{{#section 'footer'}}{{> footer}}{{/section}}


<div class="container">
  <h2 class="detail-title">Thông Tin <span>Người Dùng</span></h2>
  <div class="row">
    <div class="col-sm-8 user-info">
      <form class="userAccount" action="/user/update" method="POST" role="form">
        <div>
          <label for="name">Họ và tên</label>
          <input type="text" name="fullname" value="{{name}}" readonly>
        </div>

        <div>
          <label for="email">Email</label>
          <input type="text" name="email" value="{{email}}" readonly>
        </div>
        <div>
          <label for="gender">Giới tính</label>
          {{#if gender}}
          <input type="radio" name="gender" value="0" checked disabled><span>Nam</span>
          <input type="radio" name="gender" value="1" disabled><span>Nữ</span>
          {{else}}
          <input type="radio" name="gender" value="0" disabled><span>Nam</span>
          <input type="radio" name="gender" value="1" checked disabled><span>Nữ</span>
          {{/if}}
        </div>
        <div>
          <label for="birthDay">Ngày sinh</label>
          <input type="date" name="dob" value="{{dob}}" readonly>
        </div>
        <div>
          <label for="numberPhone">Số điện thoại</label>
          <input type="text" name="phone" value="{{phone}}" readonly>
        </div>
        <button class="done" id="user-update-button" style="visibility: hidden;">Cập Nhật</button>
      </form>
    </div>
    <div class="col-sm-4 user-avatar">
      <img src="/assets/images/user.png" alt="">
      <p class="username">{{username}}</p>
    </div>
  </div>
  <button class="done" id="user-info-button">Chỉnh Sửa</button>
</div>
